table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

div.dataTables_filter input { border: 1px solid black; }

.tables {
    width:90%;
    margin-top:6%;
    margin-left:6%;
    padding:1%;
    border-color: #777777;
    display: block;
     text-align: justify;
overflow: auto;
width:95%;
    min-width:70%;

line-height: 26px;
font-size: 16px;
font-family: "Roboto", sans-serif;
font-weight: normal;
color: black;
box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
margin-right: auto;
margin-left: auto;
border-radius: 12px;
margin-top:2vw;
background: #fff;

min-height: 30vh;
}




.action {
min-width:120px;
}
@media
only screen and (max-width: 700px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { border: 1px solid #ccc; }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 200px;
    margin-left: 150px;
  }
  td:before {
    position: absolute;
    top: 12px;
    left: 6px;
    width: 200px;
    padding-right: 40px;
    white-space: nowrap;
    margin-left: -150px;
  }
  td:nth-of-type(1):before { content: "Option"; }
  td:nth-of-type(2):before { content: "Description"; }
  td:nth-of-type(3):before { content: "Type"; }
  td:nth-of-type(4):before { content: "Default";}
}

.img600{
max-width: 400px;
}
